* {
	margin: 0;
    font-family: 'Playball', cursive, sans-serif;
}

body {
    margin: 0;
    font-family: 'Playball', cursive, sans-serif;
    color: #333;
}

h2, h3, h4 {
    margin: 0;
}

p {
    line-height: 1.6;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 15px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.logo {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.logo:hover {
	color: #e67e22;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1em;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, .selected {
    background-color: #555;
    border-radius: 5px;
}

.bg_image {
    background-image: url('Images/Home/indexBgImg.png'); 
    background-size: cover;
    background-position: center;
	height: 20em;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.bg_image h2 {
	padding-top: 3%;
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

.bg_image p {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg_image .get_st {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.bg_image .get_st:hover {
    background-color: #d35400;
	transform: scale(1.2);
}

.content1, .content2, .content3, .content4 {
	margin-top: 0;
    padding: 60px 20px;
    text-align: center;
}

.content1 h3, .content2 h3, .content3 h3, .content4 h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content2 h3, .content4 h3 {
	margin-top: -3%;
}

.content1 h4, .content2 h4, .content3 h4, .content4 h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content1 p, .content2 p, .content3 p, .content4 p {
    font-size: 1.5em;
    margin-bottom: 30px;
	line-height: 2;
}

.content1 .more_details, .content2 .more_details, .content3 .more_details, .content4 .more_details {
    background-color: #329fe7;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.content1 .more_details:hover, .content2 .more_details:hover, .content3 .more_details:hover, .content4 .more_details:hover {
    background-color: #2980b9;
}

.content3 .cont2_img {
	padding-top: 2%;
	border-radius: 5%;
}

.cont4_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
	margin-top: -60px;
}

.box {
    background-color: #38383813;
	border: 2px solid #747474;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-15px);
}

.box .image img {
    width: 100%;
    height: auto;
}

.box .content {
    padding: 20px 25px;
    text-align: center;
}

.box .content h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.box .content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.box .btn {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.box .btn:hover {
    background-color: #d35400;
}

.box .icon {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.9em;
    color: #616161;
}

.cont4_box .fleetbtn .fleetbutton {
    background-color: #329fe7;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.fleetbtn .fleetbutton:hover {
    background-color: #2980b9;
}

.content4 .cont1_img {
	display: flex;
	justify-content: center;
}

.content4 .cont1_img img {
	padding: 20px 20px;
	width: 30%;
}

.content4 {
    padding: 20px;
    box-sizing: border-box;
}

.cont_para1 {
    text-align: center;
}

.slider {
    position: relative;
    width: 150%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-images img {
    width: 100%;
    max-width: 600px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 217, 255, 0.767);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer_content {
    margin-bottom: 20px;
}

.footer_content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer_content h3:hover {
	color: #e67e22;
}

.footer_content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.footer_content .social_links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_content .social_links li {
    margin: 0 10px;
}

.footer_content .social_links a {
    font-size: 1.5em;
    color: #fff;
    transition: color 0.3s ease;
}

.footer_content .social_links a:hover {
    color: #e67e22;
}

.footer_content .social_links li i:hover {
	transform: scale(1.5);
}

.footer_bar {
    border-top: 1px solid #555;
    padding-top: 20px;
    font-size: 0.9em;
}

.footer_bar span {
    color: #e67e22;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: #329fe7;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#topBtn:hover {
    background-color: #2980b9;
}

@media (max-width: 1200px) {
    .bg_image h2 {
        font-size: 2.5em;
    }

    .bg_image p, .content1 p, .content2 p, .content3 p, .content4 p {
        font-size: 1.2em;
    }

    .content1 h3, .content2 h3, .content3 h3, .content4 h3 {
        font-size: 2em;
    }
}

@media (max-width: 992px) {
    nav ul {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        transition: left 0.3s ease;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    nav ul.show {
        left: 0;
    }

    .bg_image {
        height: 15em;
    }

    .bg_image h2 {
        font-size: 2em;
    }

    .bg_image p {
        font-size: 1em;
    }

    .box {
        max-width: 45%;
    }

    .cont4_box {
        margin-top: -30px;
    }

    .content4 .cont1_img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    nav ul {
        left: -100%;
    }

    .bg_image {
        height: 12em;
        padding: 60px 20px;
    }

    .bg_image h2 {
        font-size: 1.5em;
    }

    .bg_image p {
        font-size: 0.9em;
    }

    .content1 h3, .content2 h3, .content3 h3, .content4 h3 {
        font-size: 1.5em;
    }

    .content1 h4, .content2 h4, .content3 h4, .content4 h4 {
        font-size: 1.2em;
    }

    .content1 p, .content2 p, .content3 p, .content4 p {
        font-size: 1em;
    }

    .cont4_box {
        flex-direction: column;
        align-items: center;
    }

    .box {
        max-width: 100%;
    }

    .cont2_img img{
        max-width: 400px;
        height: auto;
        padding-top: 2%;
    }

    .content4 .cont1_img img {
        width: 70%;
    }

    .slider {
        max-width: 400px;
    }

    .footer_content h3 {
        font-size: 1.2em;
    }

    .footer_content p {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .bg_image {
        height: 10em;
    }

    .bg_image h2 {
        font-size: 1.2em;
    }

    .bg_image p {
        font-size: 0.8em;
    }

    .content1 h3, .content2 h3, .content3 h3, .content4 h3 {
        font-size: 1.2em;
    }

    .content1 h4, .content2 h4, .content3 h4, .content4 h4 {
        font-size: 1em;
    }

    .content1 p, .content2 p, .content3 p, .content4 p {
        font-size: 0.8em;
    }

    .cont4_box {
        flex-direction: column;
        align-items: center;
    }

    .box {
        max-width: 100%;
    }

    .content4 .cont1_img img {
        width: 80%;
    }

    .slider 

    .footer_content h3 {
        font-size: 1em;
    }

    .footer_content p {
        font-size: 0.8em;
    }
}