* {
    margin: 0;
    font-family: 'Playball', cursive, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playball', cursive, sans-serif;
    color: #333;
    min-height: 100vh;
}

h2, h3, h4 {
    margin: 0;
}

p {
    line-height: 1.6;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.logo:hover {
    color: #e67e22;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1em;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, .selected {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon, .close-icon {
    display: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.menu-icon:hover, .close-icon:hover {
    transform: scale(1.2);
    color: #e67e22;
}

.bg_image {
    background-image: url('Images/More/moreBgImg.jpg'); 
    background-size: cover;
    background-position: center;
	height: 20em;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.bg_image h2 {
	padding-top: 5%;
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

.bg_image p {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contTC {
    height: auto;
    width: 80%;
    margin: 2% auto;
    padding: 2.5%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contTC .ContHeader {
    font-size: 30px;
    font-weight: bolder;
    color: #e67e22;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    font-weight: 700;
}

.contTC .contPara {
    font-size: 25px;
    line-height: 1.6;
    text-transform: capitalize;
    padding-top: 1%;
    font-weight: 500;
}

.contTC .contList {
    margin-top: 20px;
    border: 1px solid #334;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    font-size: 22px;
    line-height: 40px;
    padding: 20px;
    background: #f9f9f9;
}

.contTC .contList ul li {
    list-style: circle;
    padding: 5px 0;
}

.contTC .contList ul li ul li {
    list-style: square;
}

.section2 {
    margin: 1%;
    margin-top: -2%;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    background: #fff;
    padding: 2.5%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section2 h2 {
    font-size: 35px;
    font-weight: bolder;
    color: #000000cc;
    padding-bottom: 10px;
    font-weight: 700;
}

.section2 h3 {
    font-size: 28px;
    color: rgb(255, 81, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section2 ul li {
    font-size: 21px;
    line-height: 35px;
    margin-left: 20px;
    padding: 10px 0;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: #329fe7;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#topBtn:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer_content {
    margin-bottom: 20px;
}

.footer_content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer_content h3:hover {
	color: #e67e22;
}

.footer_content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.footer_content .social_links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_content .social_links li {
    margin: 0 10px;
}

.footer_content .social_links a {
    font-size: 1.5em;
    color: #fff;
    transition: color 0.3s ease;
}

.footer_content .social_links a:hover {
    color: #e67e22;
}

.footer_content .social_links li i:hover {
	transform: scale(1.5);
}

.footer_bar {
    border-top: 1px solid #555;
    padding-top: 20px;
    font-size: 0.9em;
}

.footer_bar span {
    color: #e67e22;
}

@media (max-width: 1200px) {
    .contTC, .section2 {
        width: 90%;
        padding: 2%;
    }

    .bg_image h2 {
        font-size: 2.5em;
    }

    .bg_image p {
        font-size: 1.3em;
    }
}

@media (max-width: 992px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 60px;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 65px;
    }

    nav ul.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        transition: left 0.3s ease;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    nav ul.show {
        left: 0;
    }

    .contTC, .section2 {
        width: 95%;
        padding: 1.5%;
    }

    .bg_image h2 {
        font-size: 2em;
    }

    .bg_image p {
        font-size: 1.2em;
    }

    .contTC .contHeader {
        font-size: 28px;
    }

    .contTC .contPara {
        font-size: 22px;
    }

    .contTC .contList {
        font-size: 20px;
    }

    .section2 h2 {
        font-size: 32px;
    }

    .section2 h3 {
        font-size: 25px;
    }

    .section2 ul li {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 60px;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    
    nav ul li {
        margin: 20px 0;
    }
    
    nav ul li a {
        font-size: 1.5em;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 65px;
    }

    nav ul.show {
        display: flex;
    }

    .logo {
        margin-bottom: 10px;
    }

    .bg_image h2 {
        font-size: 1.8em;
    }

    .bg_image p {
        font-size: 1em;
    }

    .contTC .contHeader {
        font-size: 24px;
    }

    .contTC .contPara {
        font-size: 20px;
    }

    .contTC .contList {
        font-size: 18px;
    }

    .section2 h2 {
        font-size: 28px;
    }

    .section2 h3 {
        font-size: 24px;
    }

    .section2 ul li {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .logo {
        font-size: 1.2em;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 2px;
        right: 60px;
    }

    .close-icon {
        display: block;
        position: absolute;
        top: -5px;
        right: 18px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 60%;
        height: 100vh;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    .bg_image {
        padding: 70px 10px;
    }

    .bg_image h2 {
        font-size: 1.5em;
    }

    .bg_image p {
        font-size: 0.9em;
    }

    .contTC .contHeader {
        font-size: 20px;
    }

    .contTC .contPara {
        font-size: 18px;
    }

    .contTC .contList {
        font-size: 16px;
    }

    .section2 h2 {
        font-size: 24px;
    }

    .section2 h3 {
        font-size: 20px;
    }

    .section2 ul li {
        font-size: 16px;
    }

    footer {
        padding: 20px 10px;
    }

    .footer_content h3 {
        font-size: 1.2em;
    }

    .footer_content p {
        font-size: 0.9em;
    }

    .footer_content .social_links a {
        font-size: 1.2em;
    }
}
